!pip install pymysql

In [2]:
import pymysql as sql

In [3]:
con = sql.connect(host="localhost",
                 port=3306,
                 user="weather",
                  password="redhat",
                  database="weather_app"
                 )

In [5]:
cursor = con.cursor()

In [11]:
def run_command(cmd):
    cursor.execute(cmd)

    data = cursor.fetchall()
    for record in data:
        print(*record, sep="|\t|")

In [12]:
run_command("SELECT * FROM weather_app.user")

1|	|Sachin Yadav|	|redhat|	|sachin@grrassolutions.in

In [13]:
run_command("SELECT * FROM weather_app.city")

1|	|jaipur
1|	|delhi
1|	|tonk

In [18]:
cursor.execute("INSERT INTO user(name, password, email)\
VALUES ('rajat', 'rajat', 'rajat@grras.com')")

1

In [19]:
run_command("SELECT * FROM weather_app.user")

1|	|Sachin Yadav|	|redhat|	|sachin@grrassolutions.in
2|	|rajat|	|rajat|	|rajat@grras.com

In [20]:
con.commit()

In [22]:
cursor.execute("INSERT INTO user(name, password, email)\
VALUES (%s, %s, %s)", ("Nidhi", "nidhi", "nidhi@grras.com"))

1

In [23]:
run_command("SELECT * FROM weather_app.user")

1|	|Sachin Yadav|	|redhat|	|sachin@grrassolutions.in
2|	|rajat|	|rajat|	|rajat@grras.com
3|	|Nidhi|	|nidhi|	|nidhi@grras.com

In [25]:
cursor.close()

In [26]:
con.close()

In [7]:
!pip install rsa

Defaulting to user installation because normal site-packages is not writeable
Collecting rsa
  Downloading rsa-4.9-py3-none-any.whl (34 kB)
Requirement already satisfied: pyasn1>=0.1.3 in c:\programdata\anaconda3\lib\site-packages (from rsa) (0.4.8)
Installing collected packages: rsa
Successfully installed rsa-4.9

In [8]:
import rsa

In [12]:
public_key, private_key = rsa.newkeys(512)

In [15]:
import pickle

In [16]:
keys = {
    "private_key": private_key,
    "public_key": public_key
}

In [17]:
with open("keys.pkl", "wb") as file:
    pickle.dump(keys, file)

In [13]:
public_key

PublicKey(7299463476104573394195870330013052818029987764241415517192420369587336918171912964178917381009901885405830397691622805790554586771848299384209934132813293, 65537)

In [14]:
private_key

PrivateKey(7299463476104573394195870330013052818029987764241415517192420369587336918171912964178917381009901885405830397691622805790554586771848299384209934132813293, 65537, 5541453016259988099568596922793832748759418057498865468771449572731110265436764006571312789462410074232462664697070295224317164309729663174449454505196125, 4499788614303082600856116543276439657179111596614034758744138656299176047882573627, 1622179195907650053102137998843629012361934295549934374549188934188915959)

In [18]:
import rsa
import pickle

with open("keys.pkl", "rb") as file:
    keys = pickle.load(file)

In [21]:
keys["public_key"]

PublicKey(7299463476104573394195870330013052818029987764241415517192420369587336918171912964178917381009901885405830397691622805790554586771848299384209934132813293, 65537)

In [27]:
text = b"Hello This is a Secret Message!"
print(text)
print(type(text))

b'Hello This is a Secret Message!'
<class 'bytes'>

In [28]:
s = "hello world!"

b = s.encode()
# str.encode() -> byte 
# byte.decode() -> string
e = b.decode()

print(s, type(s))
print(b, type(b))
print(e, type(e))

hello world! <class 'str'>
b'hello world!' <class 'bytes'>
hello world! <class 'str'>

In [26]:
#help(rsa.encrypt)

In [31]:
text = "Hello World! Welcome to python!"
enc_text = rsa.encrypt(text.encode(), keys["public_key"])

In [30]:
print(enc_text)

b'6Vq7W\xb6\xde\xd8O\t\xf8n\xf6\xe9\x034\x7fz\x12\x14P\xf5\x15\xc3\x12\xbf\x97.\xbb\xf4\x0f/q\xc8\xf6\x01x\xf5Co\x800" \xf5\x96\x84\t\x18\xd3\xbd{\xe1\xc4\xc0\xbb\xe7Bk\xc2N\xd7\xc2Y'

In [34]:
msg = rsa.decrypt(enc_text, keys["private_key"]).decode()

In [35]:
print(msg)

Hello World! Welcome to python!

In [37]:
con.execute("CREATE TABLE demo(x TEXT)")

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xe2 in position 2: invalid continuation byte

In [40]:
con.execute(f'INSERT INTO demo(x) VALUES "{enc_text}"')

OperationalError: near ""b'\\7\xe2~\xf1^,\x8e\xba3\x1f\xc3\xc4\x07\x8c\xa5\xbc\xbdZ\x1b\xf5\x00\r\xa3\xce}\xb4X\xdd\x83o|\x94\x07\x0e\xce\xf0\xda\xc3\x87O\xac\xf1\xf8\xf4i\xc4\xb0\x01\x85U\xe1c\x1a\x9b8\x10E1E\x14\xd4\xd4k'"": syntax error

In [1]:
import sqlite3 as sql

In [4]:
con = sql.connect("weather.db")

In [5]:
cursor = con.cursor()

In [45]:
command = "CREATE TABLE user(email VARCHAR(200) PRIMARY KEY, \
    password VARCHAR(50) NOT NULL, name VARCHAR(200))"

In [46]:
cursor.execute(command)

In [48]:
cursor.execute(command)

In [47]:
command = "CREATE TABLE city(email VARCHAR(200), city VARCHAR(200),\
    CONSTRAINT `FK` FOREIGN KEY (email) REFERENCES user(email))"

In [50]:
con.commit()

In [51]:
command = "SELECT * FROM user"
cursor.execute(command)

cursor.fetchall()

[]

In [52]:
command = "INSERT INTO user VALUES (?, ?, ?)"
cursor.execute(command, ("sachin@grrassolutions.in", "redhat", "Sachin Yadav"))

In [56]:
command = "INSERT INTO city VALUES (?, ?)"
cursor.execute(command, ("sachin@grrassolutions.in", "jaipur"))

In [57]:
command = "INSERT INTO city VALUES (?, ?)"
cursor.execute(command, ("sachin@grrassolutions.in", "udaipur"))

In [58]:
command = "INSERT INTO city VALUES (?, ?)"
cursor.execute(command, ("sachin@grrassolutions.in", "delhi"))

In [59]:
command = "SELECT * FROM user, city"
cursor.execute(command)

In [60]:
cursor.fetchall()

[('sachin@grrassolutions.in',
  'redhat',
  'Sachin Yadav',
  'sachin@grrassolutions.in',
  'jaipur'),
 ('sachin@grrassolutions.in',
  'redhat',
  'Sachin Yadav',
  'sachin@grrassolutions.in',
  'udaipur'),
 ('sachin@grrassolutions.in',
  'redhat',
  'Sachin Yadav',
  'sachin@grrassolutions.in',
  'delhi')]

In [33]:
cursor.execute("SELECT * FROM city")

In [61]:
con.commit()

In [34]:
data = cursor.fetchall()

In [35]:
def show_record(data):
    for record in data:
        print(*record, sep='\t')

In [36]:
show_record(data)

1	jaipur
1	delhi
1	tonk

####   DATABASE CONNECT CITY

MONDAY!

In [63]:
x = (5)
print(x, type(x))

5 <class 'int'>

In [64]:
x = (5, )
print(x, type(x))

(5,) <class 'tuple'>

In [62]:
email = "sachin@grrassolutions.in"

In [65]:
query = "SELECT * FROM user WHERE email=?"

cursor.execute(query, (email,))

In [66]:
data = cursor.fetchall()

In [67]:
print(data)

[('sachin@grrassolutions.in', 'redhat', 'Sachin Yadav')]

In [68]:
email = "rajat@grrassolutions.in"
query = "SELECT * FROM user WHERE email=?"

cursor.execute(query, (email,))
data = cursor.fetchall()
print(data)

[]

In [69]:
command = "InSERT INTO user(email, password, name) VALUES (?, ?, ?)"

cursor.execute(command, ("sachin@grrassolutions.in", "yahoo", "rajat"))

IntegrityError: UNIQUE constraint failed: user.email

In [70]:
try:
    command = "InSERT INTO user(email, password, name) VALUES (?, ?, ?)"
    cursor.execute(command, ("sachin@grrassolutions.in", "yahoo", "rajat"))
except sql.IntegrityError: 
    print("account already Exists")

account already Exists

In [71]:
cursor.close()

In [72]:
con.close()

In [74]:
import sqlite3 as sql 

con = sql.connect("weather.db")
cursor = con.cursor()

cursor.execute("SELECT * FROM user")
print(*cursor.fetchall(), sep="\n")
cursor.close()
con.close()

('sachin@grrassolutions.in', 'redhat', 'Sachin Yadav')
('rajat@grras.com', 'rajat', 'Rajat Goyal')
('shubham@gmail.com', 'jangid', 'Shubham Jangid')

Session / REST APIs